@import "utils";
@import "colors";
@import "animations";

#main {
  height: 100%;
}

section[role="region"] > header:first-child {
  background-color: $background-app-color;
}

section .home-page {
  color: $background-content-color;

  & > .content {
    background-color: $background-app-color;
  }

  h1 {
    margin: 0;
  }
}

.main-logo {
  margin-bottom: 30px;

  img {
    height: 128px;
  }
}

button.refresh-data {
  cursor: pointer;
}

li {
  .doctor-name {
    text-transform: capitalize;
  }

  .doctor-address {
    text-transform: lowercase;
  }
}