#main {
  height: 100%;
}

section[role="region"] > header:first-child {
  background-color: #D62127;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-center {
  text-align: center;
}

section .home-page {
  color: #fff;

  & > .content {
    background-color: #D62127;
  }

  h1 {
    margin: 0;
  }

  .main-logo {
    margin-bottom: 30px;

    img {
      height: 128px;
    }
  }
}
